/*colors
#FAED26 yellow
#46344e deep purple
#5a5560 grey
#9d8d8f light 
#9b786f light pink*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #252120;
  font-family: Roboto, sans-serif;
  background: url("images/background-img.jpg");
  overflow-x: hidden;
}

.navbar {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(70, 52, 78, 0.6);
  margin: 0 auto;
}

#logo {
  left: 1rem;
  font-size: 3rem;
  color: #faed26;
  opacity: 0.7;
}

.nav_link-toggle {
  display: none;
}
.nav_list {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.nav_link {
  padding: 1rem;
}

h1 {
  font-family: Merriweather, serif;
}
p {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #9b786f;
  font-size: 120%;
  font-family: Merriweather, serif;
}

a:hover {
  color: #faed26;
  opacity: 0.8;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.me-img img {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 400px;
  height: auto;
  align-self: center;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #46344e;
  -moz-box-shadow: 10px 10px 5px #46344e;
  -webkit-box-shadow: 10px 10px 5px #46344e;
  -khtml-box-shadow: 10px 10px 5px #46344e;
}

.tagline {
  align-self: center;
  padding: 1rem;
  position: relative;
  bottom: 15px;
}

.skills {
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(236, 230, 229, 0.3);
  padding: 5vh 10%;
}

.icons {
  margin: 5vh auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-right: -10px;
  border-radius: 20px;
  background: rgba(155, 120, 111, 0.3);
}

.icon {
  font-size: 7.5vh;
  padding: 0.5rem;
}

.skills-section {
  display: flex;
}

.skills-text {
  margin: 0 auto;
  margin-left: -10px;
  background-color: rgba(70, 52, 78, 0.5);
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  min-width: 300px;
}

.skills-text ul {
  list-style: none;
  padding: 1rem;
}

.skills-text li {
  padding: 1rem;
}

@media only screen and (min-width: 1100px) {
  .navbar {
    padding: 0 15vw;
  }
  .me-img img {
    max-width: 500px;
  }
}
.about {
  padding: 5vh;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(155, 120, 111, 0.75);
}

.about h1 {
  margin-bottom: -20px;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  padding: 3vh 0 0 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* Projects section */

.portfolio {
  padding: 5vh;
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(236, 230, 229, 0.5);
}

.portfolio h1 {
  font-size: 2.5rem;
}

.portfolio-grid {
  padding-top: 2vh;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

button {
  cursor: pointer;
}

.item {
  position: relative;
  background: rgba(70, 52, 78, 0.7);
  overflow: hidden;
}

.item img {
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  object-fit: cover;
}

/* projects overlay*/

.item:hover .item_overlay {
  transform: translateY(0%);
}
.item_overlay {
  color: #111111;
  background: rgba(70, 52, 78, 0.7);
  height: 100%;
  padding: 4rem 0;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}

.item_overlay button {
  background: none;
  width: 100px;
  height: 50px;
  outline: none;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  border: 1px solid #9b786f;
  color: #9b786f;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 10px;
}
.item_overlay h2 {
  font-family: Merriweather, serif;
  line-height: 2;
}

.item_overlay p {
  font-family: Roboto, sans-serif;
}

.item_overlay button:hover {
  transition: all 0.1s ease-in-out;
  background-color: rgb(250, 237, 38, 0.7);
  color: #46344e;
  border: none;
}

@media only screen and (max-width: 650px) {
  .hero {
    flex-direction: column-reverse;
  }
  .tagline {
    margin-top: -20px;
  }
  .navbar {
    flex-direction: column;
  }
  .nav_list {
    display: none;
    height: auto;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .nav_list .nav_link {
    border: 1px solid #9b786f;
    margin: 4px auto;
  }
  .logo {
    align-self: flex-start;
  }
  .nav_link-toggle {
    display: initial;
    align-self: flex-end;
    margin-right: 1em;
    position: absolute;
    top: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
  .navbar_toggleShow {
    display: block;
  }

  .skills-section {
    flex-direction: column;
  }

  .icons,
  .skills-text {
    width: 80vw;
    margin: 2vh auto;
  }

  .about .description {
    padding: 1rem;
  }

  .portfolio-grid {
    display: flex;
    flex-flow: column wrap;
  }
}
/* Contact */
.contact {
  padding-top: 5vh;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(155, 120, 111, 0.75);
}
.contact-form {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 50vh;
  font-family: Roboto, sans-serif;
  font-size: 240%;
}
.contact-form input,
textarea {
  padding: 12px 20px;
  max-width: 400px;
  width: 70vw;
  margin: 0 auto;
  background: #f8edeb;
  border-radius: 4px;
  border: none;
  margin-top: 5vh;
}

.contact-form button {
  padding: 12px 2px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border: none;
  margin: 5vh auto;
  border-radius: 10%;
  background-color: rgba(70, 52, 78, 0.7);
  color: #9b786f;
}

.contact-form button:hover {
  background-color: rgb(250, 237, 38, 0.7);
  color: ;
}

/*Footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(90, 85, 96, 0.8);
  display: flex;
  justify-content: center;
}

.footer ul {
  justify-self: center;
  list-style-type: none;
  display: flex;
}

.footer ul li {
  padding: 1rem 5rem;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  margin: 0 auto;
  font-family: Merriweather, sans-serif;
  font-size: 14px;
  min-height: 5vh;
  background-color: rgba(70, 52, 78, 0.8);
  color: #faed26;
}
